<div class="row">
    <div class="col-md-12">
        <form name="searchForm" novalidate>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <input class="form-control" type="text" name="zipCode" data-ng-model="zipCode" required>
                        <span class="input-group-addon">
                            <button type="button" class="btn btn-primary"
                                    data-ng-click="searchForm.$valid && findRestaurants()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <hr/>
    </div>
</div>

<div class="row">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</uib-alert>
    <div class="list-group">
        <div data-ng-repeat="restaurant in restaurants">
            <a class="col-md-4 list-group-item" data-ui-sref="restaurant details({id : restaurant.id})">
                <h4 class="list-group-item-heading" data-ng-bind="restaurant.name">
                </h4>

                <p class="list-group-item-text" data-ng-bind="restaurant.address">
                </p>
            </a>
        </div>

    </div>
</div>